<a href="/" class="{% if page.url == '/' %}active {% endif %}item"><i class="home icon"></i>Home</a>
<a href="/about" class="{% if page.url == '/about' %}active {% endif %}item"><i class="info circle icon"></i>About</a>
<a href="/blog" class="{% if page.url == '/blog' %}active {% endif %}item"><i class="pencil icon"></i>Blog</a>
<a href="/screenshots" class="{% if page.url == '/screenshots' %}active {% endif %}item"><i class="image icon"></i>Screenshots</a>
<a href="/docs/{{ site.current }}" class="{% if page.url == '/docs' %}active {% endif %}item"><i class="image icon"></i>Docs</a>